@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
    height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
      
  /* Hide scrollbar for WebKit-based browsers */
  -webkit-overflow-scrolling: touch;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  /* Hide scrollbar for WebKit-based browsers */
  display: none;
}